body { 
    color: #282425;
    background-color:#f3e3d5;
    font-family:'Ephesis', cursive;
    font-size: 30px;
    font-weight: bold;
    line-height: 1,5;
    margin: 5%;
    text-align: left;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 10;
}

.mojefoto {
    width: 20%;
    border-radius: 40%;
    float: left;
    margin: 0 30px 30px 0;
}